<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j.
 Set to debug or trace if log4j initialization is failing. -->
<Configuration status="warn">
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c:%L - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <!-- Root logger referring to console appender -->
        <Root level="info" additivity="false">
            <AppenderRef ref="console" />
        </Root>
        <Logger name="org.apache.spark" level="warn" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.apache.spark.sql.delta" level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.sparkproject.jetty" level="warn" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.apache.hadoop" level="warn" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
    </Loggers>
</Configuration>