trigger:
- main

pr:
- main

variables:
  MAVEN_CACHE_FOLDER: $(Pipeline.Workspace)/.m2/repository
  MAVEN_OPTS: '-ntp -B -T 1C -Dmaven.repo.local=$(MAVEN_CACHE_FOLDER)'

stages:
- stage: build
  jobs:
  - job: Linux
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - template: compile-and-test.yml
  - job: macOS
    pool:
      vmImage: 'macos-latest'
    steps:
    - template: compile-and-test.yml
