trigger:
- main

pr:
  autoCancel: true
  branches:
    include:
    - main

variables:
  MAVEN_CACHE_FOLDER: $(Pipeline.Workspace)/.m2/repository
  MAVEN_OPTS: '-ntp -B -Dmaven.repo.local=$(MAVEN_CACHE_FOLDER) -Dci'

stages:
- stage: build
  jobs:
  - job: Linux
    pool: vmssagentspool
    steps:
    - template: compile-and-test.yml
