/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/*
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}
*/

/* For readability concerns, you should choose a lighter palette in dark mode. */
/*
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
*/

:root {
  --ifm-spacing-horizontal: 1.5rem;
  --ifm-navbar-padding-horizontal: 0.75rem;

  --ifm-font-family-base: 'Inter', system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

  --ifm-font-family-monospace: 'Fira Code', SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;

  /* Theme colors */
  --ifm-color-primary: #2160fd;
  --ifm-color-primary-dark: #1959fc;
  --ifm-color-primary-darker: #0f51f8;
  --ifm-color-primary-darkest: #0042e7;
  --ifm-color-primary-light: #3d72f8;
  --ifm-color-primary-lighter: #477af8;
  --ifm-color-primary-lightest: #6791fc;

  --ifm-navbar-shadow: none;
  --ifm-toc-border-color: #dedede;

  --ifm-table-border-color: var(--docs-color-border);
  --code-border-color: var(--docs-color-border);

  --ifm-code-font-size: 87%;
  --docusaurus-highlighted-code-line-bg: rgba(145, 176, 242, 0.36);

  --ifm-breadcrumb-item-background-active: transparent;
  --ifm-breadcrumb-padding-horizontal: 0;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-link-color: #1a90ff;
  --ifm-tabs-color-active-border: #1a90ff;
  --ifm-tabs-color-active: #1a90ff;

  --ifm-color-primary: #1a90ff;

  --ifm-footer-background-color: #1c1c1c;
  --ifm-background-surface-color: #161616;
  --ifm-background-color: #161616;
  --ifm-toc-border-color: #2e2e2e;

  --ifm-color-content: #e7e7e7;

  --docusaurus-highlighted-code-line-bg: rgba(105, 105, 105, 0.3);
}

.blogThumbnail {
    padding-left: 0;
    padding-right: 48px;
}